<div class="alert alert-info"><strong>NOTE:</strong> Typically we will just be either reading csv files directly or using pandas-datareader to pull data from the web. Consider this lecture just a quick overview of what is possible with pandas (we won't be working with SQL or Excel files in this course)</div>

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

## CSV
Comma Separated Values files are text files that use commas as field delimeters.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>xlrd</tt> and <tt>openpyxl</tt>.<br>
In your terminal/command prompt run:

    conda install xlrd
    conda install openpyxl

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

### CSV Input

In [2]:
df = pd.read_csv(filepath_or_buffer='example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [3]:
df.to_csv(path_or_buf='example.csv',index=False)

## Excel
Pandas can read and write MS Excel files. However, this only imports data, not formulas or images. A file that contains images or macros may cause the <tt>.read_excel()</tt>method to crash.

### Excel Input

In [6]:
pd.read_excel(io='Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [7]:
df.to_excel(excel_writer='Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML
Pandas can read table tabs off of HTML.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>lxml</tt>, <tt>htmllib5</tt>, and <tt>BeautifulSoup4</tt>.<br>
In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install beautifulsoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [11]:
df = pd.read_html(io="https://www.jagranjosh.com/general-knowledge/list-of-government-banks-or-public-sector-banks-in-india-1624266159-1")

In [12]:
df[0].head()

     0                                                  1             2
0  SNo                                 Public Sector Bank  Headquarters
1    1  Punjab National Bank ( Merged with Oriental Ba...     New Delhi
2    2           Indian Bank( Merged with Allahabad Bank)       Chennai
3    3                                State Bank of India        Mumbai
4    4           Canara Bank( Merged with Syndicate Bank)     Bangalore

____

# Great Job!